<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SL Express Fullstack Boilerplate</title>
    <% if(process.env.NODE_ENV === 'development'){ %>
    <% } else{ %>
    <link rel="stylesheet" href="/static/dist/index.css">
    <% } %>
  </head>
  <body>
    <div id="app"></div>

    <script>
      window.__PRELOADED_STATE__=<%- JSON.stringify({
        client_id: process.env.DEVELOPER_OAUTH_APP_CLIENT_ID,
      })%>
    </script>
    <% if(process.env.NODE_ENV === 'development'){ %>
    <script type="module">
      import RefreshRuntime from "<%= process.env.VITE_DEV_SERVER_BASE_URL %>/@react-refresh"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="<%= process.env.VITE_DEV_SERVER_BASE_URL %>/static/src/index.jsx"></script>
    <% } else{ %>
    <script src="/static/dist/index.js"></script>
    <% } %>
  </body>
</html>
